SUPA_DSN=postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:5432/postgres
GITHUB_TOKEN=ghp_token_with_gist_scope
GIST_ID=your_gist_id
GARMIN_SQLITE=/home/ubuntu/HealthData/DBs/garmin_activities.db
